{% extends "home/index.html.twig" %}
{% block body %}
	<!-- Body: Body -->
	<div class="body d-flex py-lg-3 py-md-2">
		<div class="container-xxl">
			<div class="row align-items-center">
				<div class="border-0 mb-4">
					<div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
						<h3 class="fw-bold mb-0">Participants</h3>
						<div class="col-auto d-flex w-sm-100">
							<a href="{{path('user_afficheforma')}}" class="btn btn-dark btn-set-task w-sm-100">
								<i class="icofont-invisible me-2 fs-6"></i>Back</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Row end  -->
			<div class="row clearfix g-3">
				<div class="col-sm-12">
					<div class="card mb-3">
						<div class="card-body">
							<table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
								<thead>
									<tr>
										<th>
											Profile
										</th>
										<th>Name participant</th>
										<th>Email Participant</th>
										<th>Date event</th>

										<th>Phone Number</th>
									</tr>
								</thead>
								{% for i in f %}

									<tbody>
										<tr>
											<td>
												<img class="avatar rounded-circle" src="http://localhost/images/{{i.getUser.getImage}}"  alt="">
											</td>
											<td>
												{{i.getUser.getNom()}}
												{{i.getUser.getPrenom()}}

											</td>
											<td>

												<span class="fw-bold ms-1">
													{{i.getUser.getEmail()}}</span>
											</td>
											<td>{{ i.Formation.getDateDebut|date('Y-m-d') }}
											</td>
											<td>
												<span class="fw-bold ms-1">
													{{i.getUser.getNumTel()}}</span>

											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Row End -->
		</div>
	</div>
{% endblock %}
