<!doctype html>
<html class="no-js" lang="en" dir="ltr">


<!-- Mirrored from pixelwibes.com/template/my-task/html/dist/ui-elements/auth-signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jul 2023 19:53:07 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>:: My-Task:: Signup</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"> <!-- Favicon-->
    <!-- project css file  -->
    <link rel="stylesheet" href="{{ asset('assets/css/my-task.style.min.css') }}">
    <!-- Google Code  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-264428387-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-264428387-1');
    </script>
</head>

<body>

<div id="mytask-layout" class="theme-indigo">

    <!-- main body area -->
    <div class="main p-2 py-3 p-xl-5">
        
        <!-- Body: Body -->
        <div class="body d-flex p-0 p-xl-5">
            <div class="container-xxl">

                <div class="row g-0">
                    <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center rounded-lg auth-h100">
                        <div style="max-width: 25rem;">
                            <div class="text-center mb-5">
                                 <svg  width="4rem" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                </svg>
                            </div>
                            <div class="mb-5">
                                <h2 class="color-900 text-center">My-Task Let's Management Better</h2>
                            </div>
                            <!-- Image block -->
                            <div class="">
                                <img src="{{ asset('assets/images/login-img.svg') }}" alt="login-img">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                        <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
                            <!-- Form -->
                            
                            
                            {{form_start(registrationForm,{'attr': { 'class': 'row g-1 p-3 p-md-4'}})}}
                                <div class="col-12 text-center mb-1 mb-lg-5">
                                    <h1 style="padding-top:1em;">Create your account</h1>
                                    <span>Free access to our dashboard.</span>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label class="form-label">Full name</label>
                                        {{ form_widget(registrationForm.nom,{'attr':{'class':'form-control form-control-lg' } }) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-2">
                                        <label class="form-label">&nbsp;</label>
                                        {{ form_widget(registrationForm.prenom,{'attr':{'class':'form-control form-control-lg' } }) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                    
                                        <label class="form-label">Email address</label>
                                        {{ form_errors(registrationForm.email) }}
                                        {{ form_widget(registrationForm.email,{'attr':{'class':'form-control form-control-lg' } }) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label class="form-label">Password</label>
                                        {{ form_errors(registrationForm.plainPassword) }}
                                          {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control form-control-lg' } }) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label for="abc" class="form-label">Date Naissance</label>
                                        {{ form_errors(registrationForm.date_naissance) }}
                                          {{ form_widget(registrationForm.date_naissance,{'attr':{'class':'form-control' } }) }}
                                          
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label class="form-label">Numero</label>
                                        {{ form_errors(registrationForm.num_tel) }}
                                          {{ form_widget(registrationForm.num_tel,{'attr':{'class':'form-control form-control-lg' } }) }}
                                    </div>
                                </div>
                                {# <div class="col-12">
                                    <div class="mb-2">
                                        <label class="form-label">Agree</label>
                                        {{ form_widget(registrationForm.agreeTerms,{'attr':{'class':'form-control form-control-lg' } }) }}
                                    </div>
                                </div> #}
                                <div class="col-12">
                                    <div class="form-check">

                                        {{ form_widget(registrationForm.agreeTerms,{'attr':{'class':'text-secondary' } }) }}
                                        <label class="form-check-label" for="flexCheckDefault">
                                        {{ form_errors(registrationForm.agreeTerms) }}
                                            I accept the <a href="#" title="Terms and Conditions" class="text-secondary">Terms and Conditions</a>
                                            
                                            
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    {# <a href="auth-signin.html" class="btn btn-lg btn-block btn-light lift text-uppercase" alt="SIGNUP">SIGN UP</a> #}
                                    <button type="submit" class="btn btn-lg btn-block btn-light lift text-uppercase">SIGN UP</button>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <span class="text-muted">Already have an account? <a href="{{ path('app_login')}}" title="Sign in" class="text-secondary">Sign in here</a></span>
                                </div>
                            {{ form_end(registrationForm) }}
                            <!-- End Form -->
                        </div>
                    </div>
                </div> <!-- End Row -->
            </div>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="../assets/bundles/libscripts.bundle.js"></script>

</body>

<!-- Mirrored from pixelwibes.com/template/my-task/html/dist/ui-elements/auth-signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jul 2023 19:53:07 GMT -->
</html>

{# {% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %} #}
