{% extends "admin.html.twig" %}
{% block body %}
   <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Payslip</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->

                <div class="row align-item-center">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Edit</h6> 
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                            <label for="firstname" class="form-label">Salaire de Base</label>
                                            {{ form_widget(form.salaire_de_base,{'attr':{'class':'form-control' } } )}}
                                        </div>
                                         
                                        <div class="col-md-6">
                                            <label for="firstname" class="form-label">Prime de Rendement</label>
                                            {{ form_widget(form.prime_de_rendement,{'attr':{'class':'form-control' } })}}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="firstname" class="form-label">Prime de Présence</label>
                                            {{ form_widget(form.prime_de_presence,{'attr':{'class':'form-control' } })}}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="firstname" class="form-label">Retenue CNRPS</label>
                                            {{ form_widget(form.retenue_cnrps,{'attr':{'class':'form-control' } })}}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="firstname" class="form-label">Déduction Situation Familiale</label>
                                            {{ form_widget(form.deduction_situation_familiale,{'attr':{'class':'form-control' } })}}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="firstname" class="form-label">Autre Déduction</label>
                                            {{ form_widget(form.autre_deduction,{'attr':{'class':'form-control' } })}}
                                        </div>
                                        <div class="col-md-6">
                                           <label for="firstname" class="form-label">Avance</label>
                                            {{ form_widget(form.avance,{'attr':{'class':'form-control' } })}}
                                        </div>
                                        <div class="col-md-6">
                                           <label for="firstname" class="form-label">Heures Supplimentaires</label>
                                            {{ form_widget(form.heures_supplimentaires,{'attr':{'class':'form-control' } })}}
                                        </div>
                                    </div>
                                    
                                    {# <button type="submit" class="btn btn-primary mt-4">Submit</button> #}
                                    <button class="btn btn-primary mt-4">{{ button_label|default('Save') }}</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                       
                        
                    </div>
                </div><!-- Row end  -->

            </div>
        </div>


{% endblock %}





{# <!DOCTYPE html>

<title>Edit FicheDePaie</title>

{% block body %}
    <h1>Edit FicheDePaie</h1>

    {{ include('admin_fichedepaie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_fichedepaie_index') }}">back to list</a>

    {{ include('admin_fichedepaie/_delete_form.html.twig') }}
{% endblock %} #}
