{% extends "admin.html.twig" %}
{% block body %}
   <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Profile</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->

                <div class="row align-item-center">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Edit</h6> 
                            </div>
                            <div class="card-body">
                                {{ form_start(f) }}
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                             <label for="firstname" class="form-label">First Name</label>
                                            {{ form_widget(f.nom) }}
                                        </div>
                                         
                                        <div class="col-md-6">
                                            <label for="lastname" class="form-label">Last Name</label>
                                            {{ form_widget(f.prenom) }}
                                        </div>
                                        <div class="col-md-6">
                                            <label  class="form-label">Phone Number</label>
                                            {{ form_widget(f.num_tel) }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="emailaddress" class="form-label">Email Address</label>
                                            {{ form_widget(f.email) }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="admitdate" class="form-label">Date</label>
                                            {{ form_widget(f.date_naissance) }}
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <label for="formFileMultiple" class="form-label"> File Upload</label>
                                            {{ form_widget(f.image) }}
                                        </div>
                                    </div>
                                    
                                    {# <button type="submit" class="btn btn-primary mt-4">Submit</button> #}
                                    <button class="btn btn-primary mt-4">{{ button_label|default('Save') }}</button>
                                {{ form_end(f) }}
                            </div>
                        </div>
                       
                        
                    </div>
                </div><!-- Row end  -->

            </div>
        </div>


{% endblock %}


