{% extends "admin.html.twig" %}
{% block body %}
	<!-- Body: Body -->
	<div class="body d-flex py-lg-3 py-md-2">
		<div class="container-xxl">
			<div class="row align-items-center">
				<div class="border-0 mb-4">
					<div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
						<h3 class="fw-bold mb-0">Products</h3>
						<div class="col-auto d-flex w-sm-100">
							<button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#tickadd">
								<i class="icofont-plus-circle me-2 fs-6"></i>Add Product</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Row end  -->
			<div class="row clearfix g-3">
				<div class="col-sm-12">
					<div class="card mb-3">
						<div
							class="card-body">
							<!-- Add Tickit-->
							{{ form_start(f,{'attr': {'novalidate': 'novalidate'}} ) }}

							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title  fw-bold" id="leaveaddLabel">
										Product Add</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="mb-3">
										<label for="sub" class="form-label">Product Name</label>
										{{form_errors(f.libelle)}}
										{{ form_widget(f.libelle, {'attr': {'class': 'form-control', 'placeholder': 'Product Name'}}) }}
									</div>
									<div class="deadline-form">
										<form>
											<div class="row g-3 mb-3">
												<div class="col">
													<label for="deptwo" class="form-label">Importation Date</label>
													{{form_errors(f.date_importation)}}
													{{ form_widget(f.date_importation, {'attr': {'class': 'form-control', 'id': 'deptwo'}}) }}

												</div>
												<div class="col">
													<label for="deptwo" class="form-label">Expired Date</label>
													{{form_errors(f.date_expiration)}}
													{{ form_widget(f.date_expiration, {'attr': {'class': 'form-control', 'id': 'deptwo'}}) }}
												</div>
											</div>
										</form>
									</div>
									<div class="deadline-form">

										<div class="row g-3 mb-3">
											<div class="col">
												<label for="depone" class="form-label">Price Product</label>
												{{form_errors(f.prix)}}
												{{ form_widget(f.prix, {'attr': {'class': 'form-control', 'placeholder': 'Product Price'}}) }}
											</div>
											<div class="col">
												<label for="depone" class="form-label">Quantity Product</label>
												{{form_errors(f.quantite)}}
												{{ form_widget(f.quantite, {'attr': {'class': 'form-control', 'placeholder': 'Product Quantity'}}) }}
											</div>
										</div>

									</div>

									<div class="mb-3">

										<label for="formFileMultipleone" class="form-label">Event Images</label>
										{{ form_widget(f.image, {'attr': {'class': 'form-control'}}) }}

									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
									{{ form_widget(f.save, {'label': '<i data-feather=""></i>Save', 'label_html': true, 'attr': {'class': 'btn btn-primary'}}) }}
								</div>
							</div>
						</div>
					</div>
					{{form_end(f)}}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
